.cards {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
  background-color: yellow;
}

.cards button {
  margin: 0 10px;
}

.cardNumber {
  padding: 0 10px;
}

.userInput {
  padding: 0 10px;
}
